---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Silverstero's webpage.">
	<main>
		<h1> <span class="text-gradient">Silverstero</span></h1>
		<a href="https://www.youtube.com/channel/UCL1hvNsH2mMpVa26wOz28-Q"><img src="https://img.icons8.com/ios-filled/50/youtube-play.png"></a>
		<a href="https://www.youtube.com/channel/UCL1hvNsH2mMpVa26wOz28-Q"><img src="https://img.icons8.com/ios-filled/50/youtube-play.png"></a>
		<h2>
		<hr>
			Dumb, dumb, dumb. - Everybody That knows me 2023
		<h2/>
		<p>I'm a developer. i code in html and python! i dont take work requests because i suck at working on a schedule</p>
		<br>
		<p> i work on bad games i do not have my own gaming studio so all of the games i am making are going in there.</p>
		<ul role="list" class="link-card-grid">
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
